@tailwind base;
@tailwind components;

.btn {
	@apply inline-block px-5 py-3 rounded text-sm uppercase tracking-wider font-semibold;
}

.btn:focus {
	@apply outline-none shadow-outline;
}

.btn-indigo {
	@apply bg-indigo-500 text-white;
}

.btn-orange {
	@apply bg-orange-500 text-white;
}

.btn:hover {
	@apply bg-indigo-400;
}

.btn:active {
	@apply bg-indigo-600;
}

.shadow-full {
	border: 1px solid rgba(128, 128, 128, 0.10);
	box-shadow: 0px 2px 1px -1px rgba(128, 128, 128, 0.7);
	width: 126px;
	max-height: 48px;
}

.shadow-full:hover {
	box-shadow: 0px 4px 9px -2px gray;
	background-color: rgba(128, 128, 128, 0.04);
}

@screen sm {
	.btn {
		@apply text-base;
	}
}

/* custom scrollbar */

::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 5px grey; */
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(128, 128, 128, 0.3);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	/* background: #4a91e2a4; */
	background: #116fdb98;
}

/* calendar style */

.customCalender {
	opacity: 0.9999999;
}

.demo-app-calendar button {
	background: #1967d2;
	/* background-color: #4a90e2; */
	background-color: #116fdbda;
	font-size: 0.5rem;
}

.fc-center {
	color: gray;
	font-size: 0.4rem;
}

.fc-widget-header {
	color: rgb(66, 63, 63, 0.95);
	height: 40px;
}

@media screen and (min-device-width: 480px) {
	.fc-center {
		font-size: 0.4rem;
	}

	.demo-app-calendar button {
		font-size: 0.5rem;
	}
}

@media screen and (min-device-width: 640px) {
	.fc-center {
		font-size: 0.5rem;
	}

	.demo-app-calendar button {
		font-size: 0.6rem;
	}
}

@media screen and (min-device-width: 768px) {
	.fc-center {
		font-size: inherit;
	}

	.demo-app-calendar button {
		font-size: inherit;
	}
}

/* The container */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	border-radius: 4px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked .user ~ .checkmark,
#user {
	background-color: #7986cb;
}

container input:checked .user ~ .checkmark,
#contacts {
	background-color: #33b679;
}

container input:checked .user ~ .checkmark,
#remainder {
	background-color: #3f51b5;
}

container input:checked .user ~ .checkmark,
#tasks {
	background-color: #4285f4;
}

container input:checked .user ~ .checkmark,
#holiday {
	background-color: #0b8043;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 7px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

@tailwind utilities;
