@tailwind base;
@tailwind components;

.btn {
	@apply inline-block px-5 py-3 rounded text-sm uppercase tracking-wider font-semibold;
}

.btn:focus {
	@apply outline-none shadow-outline;
}

.btn-indigo {
	@apply bg-indigo-500 text-white;
}

.btn-orange {
	@apply bg-orange-500 text-white;
}

.btn:hover {
	@apply bg-indigo-400;
}

.btn:active {
	@apply bg-indigo-600;
}

.shadow-full {
	border: 1px solid rgba(128, 128, 128, 0.10);
	box-shadow: 0px 2px 1px -1px rgba(128, 128, 128, 0.7);
	width: 126px;
	max-height: 48px;
}

.shadow-full:hover {
	box-shadow: 0px 4px 9px -2px gray;
	background-color: rgba(128, 128, 128, 0.04);
}

@screen sm {
	.btn {
		@apply text-base;
	}
}

@tailwind utilities;
